body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u10_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:433px;
  width:306px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:321px;
  width:160px;
  height:25px;
  display:flex;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
}
#u13.disabled {
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:365px;
  width:160px;
  height:25px;
  display:flex;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Light', 'Songti SC Light', 'Songti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:9px;
}
#u14.disabled {
}
#u15 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:497px;
  width:50px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:497px;
  width:55px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:16px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:404px;
  height:16px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
